// Layout (valeurs à confirmer)
$max-width: 1200px;
$bp-medium: 768px;
$bp-large : 992px;
$bp-xxl : 1745px;
$marge    : 15px;


// Typos

$text-default: 'Quicksand', 'Arial Narrow', 'Arial', sans-serif;
$title-default: 'Amatic SC', cursive ;


// Colors

$light-gray:#F7F7F7;
$gray:#CFD8D7;
$medium-gray: #707070;
$dark-gray: #3C3C3C;

$yellow:#FFDB4D;
